<div class="components-list">
  <h1>Compose</h1>
  <h2>Drag and drop elements</h2>

  <div
    cdkDropList
    #componentsList="cdkDropList"
    [cdkDropListData]="formTypes"
    [cdkDropListConnectedTo]="['formEditorDropZone']"
    cdkDropListSortingDisabled
    class="components-container">

    @for (fieldType of formTypes; track fieldType.id) {
      <div
        cdkDrag
        [cdkDragData]="fieldType"
        class="component-item">

        <div class="component-content">
          @if (fieldType.icon) {
            <span class="material-icons">{{ fieldType.icon }}</span>
          }
          <span>{{ fieldType.label }}</span>
        </div>

        <!-- Custom drag preview (optional) -->
        <div *cdkDragPlaceholder class="drag-placeholder">
          {{ fieldType.label }}
        </div>
      </div>
    }
  </div>
</div>


