.container{
  display: flex;
  flex-direction: row;
}

.component-list-container {
  display: flex;
  flex: 1;
}

.component-editor-container {
  display: flex;
  flex: 4;
  background-color: aqua;
  height: 300px;
}
